<html>
  <head>
    <title>{{ .Title }}</title>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <p>This article does not exist (yet). You can create it with the button below</p>
    <form action="/articles/{{ .Title }}" method="post">
      <input type="hidden" id="content" name="content" value="">
      <input type="submit" value="Create">
    <hr>
    <p><a href="/">Home</a></p>
  </body>
</html>
