<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <form action="/articles/{{ .Title }}" method="post">
      <label for="content">Content:</label><br>
      <textarea id="content" name="content" rows="40" cols="80">{{ .Content }}</textarea>
      <br>
      <input type="submit" value="Update">
    </form>
    <hr>
    <p><a href="/">Home</a></p>
  </body>
</html>
