<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <hr>
    <form action="/articles/{{ .Title }}" method="post">
      <label for="content">Content:</label><br>
      <textarea id="content" name="content" rows="40" cols="80">{{ .Content }}</textarea>
      <br>
      <input type="submit" value="Update">
      <p>By submitting content you agree to the <a href="/tos.html">Terms of Service</a></p>
    </form>
    <hr>
    <p><a href="/">Home</a></p>
  </body>
</html>
