<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>{{ .Title }}</h1>
    <p>{{ .Blurb }}</p>
    <form action="/goto" method="get">
      <input type="text" id="title" name="title">
      <input type="submit" value="Go">
    </form>
    <p><a href="/articles">List of Articles</a></p>
    <p><a href="/howto.html">How to use this site</a></p>
    <hr>
    <p><a href="/tos.html">Terms of Service</a></p>
    <p><a href="https://github.com/packrat386/atalanta">source code</a></p>
  </body>
</html>
