<html>
  <head>
    <title>List of Articles</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>List of Articles</h1>
    {{ range $title := . }}
    <p><a href="/articles/{{ $title }}">{{ $title }}</a></p>
    {{ end }}
    <hr>
    <p><a href="/">Home</a></p>
  </body>
</html>
