<html>
  <head>
    <title>{{ .Title }} - {{ .RevisionID }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <h1>{{ .Title }} - {{ .RevisionID }}</h1>
    <p>{{ .Content }}</p>
    <hr>
    <p><a href="/archives/{{ .Title }}?raw=true">Raw</a></p>
    <p><a href="/articles/{{ .Title }}">Current</a></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
