<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>
    <hr>
    <p><a href="/articles/{{ .Title }}?edit=true">Edit</a></p>
    <p><a href="/articles/{{ .Title }}?raw=true">Raw</a></p>
    <p><a href="/versions/{{ .Title }}">Versions</a></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
