<html>
  <head>
    <title>{{ .Title }} - {{ .VersionID }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <h1>{{ .Title }} - {{ .VersionID }}</h1>
    <hr>
    <div class="article-content">{{ .Content }}</div>
    <hr>
    <p><a href="/versions/{{ .Title }}?raw=true">Raw</a></p>
    <p><a href="/articles/{{ .Title }}">Current</a></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
